.history-container {
  padding: 20px;
}

.filters {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.in {
  color: #0a8f08;
  font-weight: bold;
}

.out {
  color: #d00000;
  font-weight: bold;
}
