
/* ESTE ES EL TRUCO */
.footer {
  height: 50px;
  background: #000;
  color: #ffdd00;
  display: flex;
  justify-content: center;   /* centra horizontal */
  align-items: center;       /* centra vertical */
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 0 10px;
}
