.layout-container {
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #1e1e1e;
  color: #fff;
}

.logo {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  color: #ffc107;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.content-body {
  padding: 20px;
}
