/* ---- SIDEBAR ---- */
.sidebar {
  width: 240px;
  background: #1f1f1f !important; /* negro elegante */
  color: white;
  padding: 20px;
}

.logo {
  color: #ffd72d;  /* amarillo patito */
  margin-bottom: 20px;
  font-weight: bold;
}

/* ---- LINKS ---- */
.sidebar a.mat-list-item {
  color: white !important;
  font-size: 16px;
}

.sidebar a.mat-list-item mat-icon {
  color: #ffd72d !important;
  margin-right: 10px;
}

.sidebar a.mat-list-item:hover {
  background: #333 !important;
  border-radius: 8px;
}

.sidebar a.mat-list-item.active {
  background: #444 !important;
  border-radius: 8px;
}

/* ---- CONTENIDO ---- */
.content {
  background: #f5f5f7;
}

.content-body {
  padding: 20px;
}
span{
    color: wheat;
}